@import '../../../styles/variables';

.button {
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 1.3px;
    color: $--color-dark-1;
    font-weight: 500;

    i {
        font-style: normal;
        padding: 0px 5px;
    }
}

/* !Primary */

.btn-primary {
    background-color: ($--color-accent-2);
    color: white;
}

.btn-primary:hover {
    background-color: ($--color-accent-1);
    color: white;
}

.btn-primary-outline {
    background-color: transparent;
    color: $--color-accent-2;
    border: 1px solid $--color-accent-2;
}

.btn-primary-outline:hover {
    color: rgb(255, 255, 255);
    background-color: ($--color-accent-1);
}


/* !Secondary */

.btn-secondary {
    background-color: $--color-green-3;
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: $--color-green-3-dark;
    color: #edf0ef;
}


/* !Tertiary */
.btn-tertiary {
    background-color: transparent;
}