<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	
        <rewrite>
            <rules>				
				<rule name="Cannonical Hostname" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^airport-pickups.london.com" />
                    </conditions>
                    <action type="Redirect" url="http://agency.airport-pickups-london.com/{R:1}" />
                </rule>
				
                <rule name="test" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <action type="Rewrite" url="http://95.128.134.58:8500/{R:0}" />
                </rule>
				
            </rules>
        </rewrite>
		
		
		
    </system.webServer>
</configuration>
