 @import '../../styles/variables';
 @import '../../styles/fonts';

 .page {
     position: relative;
     display: flex;
     align-items: center;
     justify-items: center;
     margin-left: 60px;

     @media (max-width: 990px) {
         padding-top: 30px;
         margin-left: 0px;
     }

     @media (max-width: 550px) {
         //  padding-top: 0px;
     }



     &_section {
         width: 100%;

         @media (max-width: 1600px) {
             margin: 0 20px !important;
         }

         @media (max-width: 450px) {
             margin: 0 10px !important;
         }

         &_container {
             position: relative;
             width: 100% !important;
             max-width: 1600px !important;

             @media (max-width: 1200px) {
                 max-width: 1400px !important;
             }

             div {
                 .title {
                     font-weight: 500;
                     font-size: 24px !important;
                     text-transform: capitalize;
                 }

                 .main_container {
                     display: flex;
                     position: relative;
                     gap: 4rem;
                     justify-content: space-between;
                     margin-bottom: 100px;

                     @media (max-width: 1500px) {
                         gap: 2rem;
                     }

                     @media (max-width: 1000px) {
                         flex-direction: column;
                     }



                     .quotation_panel {
                         flex-basis: 30%;
                         margin-top: 16px;
                         position: relative;
                         border-radius: 4px;
                         position: sticky !important;
                         top: 121px;
                         height: 800px;

                         @media (max-width: 1200px) {
                             display: none;
                         }

                         .form_div {
                             padding: 5px 20px;
                             padding-bottom: 20px;
                             border: 1px solid #efefef;
                             border-radius: 4px;
                             font-size: 15px;

                             background-color: white;
                             border: 1px solid rgba($blue-1, .4);

                             .errorBookedMessage {
                                 p {
                                     color: red;
                                     margin-top: 15px;
                                     font-size: 14px !important;
                                 }
                             }

                             .search_menu.error_input {
                                 border-bottom: 1px solid red !important;
                             }

                             .search_menu {
                                 padding: 20px 0px;
                                 border-bottom: 1px solid #efefef;
                                 padding-bottom: 7px;

                                 h4 {
                                     font-weight: 500;
                                     line-height: 1.6;
                                     font-family: $font-jost;
                                     text-transform: none;
                                     color: $gray-3;
                                     font-size: 16px;
                                     margin-bottom: 9px !important;
                                     text-transform: capitalize;
                                 }

                                 .input_div {
                                     color: $light-1;
                                     line-height: 1.6;
                                     font-size: 15px;
                                     font-family: $font-jost;
                                     position: relative;

                                     .loading_div {
                                         position: absolute;
                                         top: 8px;
                                         right: 0px;

                                     }



                                     .input_delete_field_icon[direction="true"] {
                                         position: absolute;
                                         right: 95% !important;
                                         color: red;
                                         right: 5px;
                                         font-size: 12px;
                                         transform: rotate(180deg);
                                         top: 7px;
                                         cursor: pointer;
                                         width: 10px;
                                     }

                                     .input_delete_field_icon {
                                         position: absolute;
                                         right: 9px;
                                         top: 7px;
                                         cursor: pointer;
                                         color: red;
                                     }

                                     .error_icon[direction="false"] {
                                         top: 0px;
                                         font-size: 12px;
                                         color: red;
                                         right: 10px;
                                         position: absolute;
                                         display: inline;
                                         width: 13px;
                                     }

                                     .error_icon[direction="true"] {
                                         position: absolute;
                                         top: 0px;
                                         left: 0px !important;
                                         font-size: 12px;
                                         color: red;


                                     }



                                     input {
                                         border: 0;
                                         outline: none;
                                         width: 100%;
                                         background-color: transparent;
                                         color: $dark-1;
                                         outline-offset: -2px;
                                         font-weight: 500;
                                         font-family: $font-jost;
                                         position: relative;
                                         font-size: 14px;
                                         text-transform: capitalize !important;

                                         &::placeholder {
                                             color: $gray-3;
                                             letter-spacing: 0.3px;
                                             // color: rgb(5, 16, 54);
                                             font-weight: 400;
                                             text-transform: capitalize;
                                         }
                                     }



                                     // background-color: red;
                                     input[type="date"]:after {
                                         font-family: "Font Awesome 5 Free";
                                         font-weight: 900;
                                         content: "\f073";
                                         top: 15px;
                                         right: 15px;
                                         font-size: 14px;
                                         user-select: none;
                                         color: #5d646d;
                                         position: absolute;

                                     }

                                     input[type="date"] {
                                         position: relative;
                                         text-align: left;
                                         min-width: 100%;
                                         max-width: 100%;
                                         -webkit-appearance: none;
                                         -moz-appearance: none;
                                         min-height: 53.6px !important;
                                         height: 53.6px !important;
                                         background-color: rgb(255, 255, 255);
                                         -webkit-border-radius: 0;
                                         -webkit-width: 100%
                                     }



                                     /* change color of symbol on hover */
                                     input[type="date"]:hover:after {
                                         //  color: #bf1400;
                                     }

                                     /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
                                     input[type="date"]::-webkit-calendar-picker-indicator {
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         right: 0;
                                         bottom: 0;
                                         width: auto;
                                         height: auto;
                                         color: transparent;
                                         background: transparent;
                                         user-select: none;
                                     }

                                     /* adjust increase/decrease button */
                                     input[type="date"]::-webkit-inner-spin-button {
                                         z-index: 1;

                                     }

                                     /* adjust clear button */
                                     input[type="date"]::-webkit-clear-button {
                                         z-index: 1;
                                     }

                                     //iphonelarda 2 aralik 2022 ni ortaliyan budur
                                     input::-webkit-date-and-time-value {
                                         text-align: left;
                                         text-align: -webkit-left;
                                         display: flex;
                                         align-items: center;
                                         height: 100%;
                                     }

                                     input[type="date"]::-webkit-datetime-edit,
                                     input[type="date"]::-webkit-inner-spin-button,
                                     input[type="date"]::-webkit-clear-button {
                                         color: rgb(253, 253, 253);
                                         position: relative;
                                         left: 0px;
                                         text-align: left;
                                     }

                                     input[type="date"]::-webkit-datetime-edit-year-field {
                                         position: absolute !important;
                                         border-left: 1px solid #8c8c8c2f;
                                         padding: 2px 7px;
                                         color: #000;
                                         left: 56px;
                                     }

                                     input[type="date"]::-webkit-datetime-edit-month-field {
                                         position: absolute !important;
                                         border-left: 1px solid #8c8c8c2f;
                                         padding: 2px 7px;
                                         color: rgb(0, 0, 0);
                                         left: 26px;
                                     }


                                     input[type="date"]::-webkit-datetime-edit-day-field {
                                         position: absolute !important;
                                         color: #000;
                                         padding: 2px 0px;
                                         left: 4px;

                                     }

                                     input::-webkit-datetime-edit-day-field:focus,
                                     input::-webkit-datetime-edit-month-field:focus,
                                     input::-webkit-datetime-edit-year-field:focus {
                                         background-color: rgb(12, 155, 243);
                                         color: white;
                                         outline: none;
                                     }


                                 }

                                 .addrtl {
                                     i {
                                         margin-left: 0.70rem !important;
                                     }
                                 }

                                 .add_point_div {
                                     display: flex;
                                     align-items: center;
                                     padding: 2px 10px;
                                     transition: .2s ease;
                                     text-transform: capitalize;
                                     color: $gray-3;

                                     .add_point_icon {
                                         font-size: 14px;
                                         margin-right: 0.70rem;
                                     }


                                     &:hover {
                                         cursor: pointer;
                                         color: $dark-1;
                                     }
                                 }

                             }

                             //2022-12-12
                             .book_input_date {
                                 position: relative;


                                 .date_div_rtl {

                                     @media(max-width:990px) {
                                         display: flex;
                                         justify-content: flex-end;
                                         align-items: center;
                                         padding-right: 5rem;
                                     }
                                 }

                                 .date_div.rtl {
                                     display: flex;
                                     justify-content: flex-start;
                                 }

                                 .date_div {
                                     // max-width: 184px;
                                     width: 100%;
                                     // background-color: red;

                                     @media(max-width:990px) {
                                         border-bottom: 1px solid #efefef;
                                         padding-right: 0px;
                                         padding-bottom: 4px;
                                         max-width: 100%;
                                     }

                                     input[type="date"] {
                                         position: relative;
                                         text-align: left;
                                         min-width: 100%;
                                         max-width: 100%;
                                         -webkit-appearance: none;
                                         -moz-appearance: none;
                                         -webkit-border-radius: 0;
                                         -webkit-width: 100%;
                                         min-height: 28px !important;
                                         height: 28px !important;
                                         border: 0;
                                         outline: none;
                                         padding: 1px 2px;
                                         outline-offset: -2px;

                                         @media (max-width:990px) {
                                             padding: 1px 0px;
                                         }

                                         font-weight: 500;
                                         font-family: $font-jost;
                                         font-size: 15px;

                                         &:before {
                                             content: '';
                                             position: absolute;
                                             // width: 100%;
                                             height: 50%;
                                             border-color: transparent transparent transparent rgba(#5d646d, .5);
                                             border-style: solid;
                                             border-width: 1px;
                                             transform: skewX(-15deg);
                                             top: 6px;
                                             left: 23px;

                                             @media (max-width:768px) {
                                                 display: none !important;
                                             }
                                         }

                                         &:after {
                                             content: '';
                                             position: absolute;
                                             // width: 100%;
                                             height: 50%;
                                             border-color: transparent transparent transparent rgba(#5d646d, .5);
                                             border-style: solid;
                                             border-width: 1px;
                                             transform: skewX(-15deg);
                                             left: 52px;
                                             top: 6px;

                                             @media (max-width:768px) {
                                                 display: none !important;
                                             }
                                         }
                                     }



                                     /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
                                     input[type="date"]::-webkit-calendar-picker-indicator {
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         right: 0;
                                         bottom: 0;
                                         width: auto;
                                         height: auto;
                                         color: transparent;
                                         background: transparent;
                                         user-select: none;
                                         z-index: 1;
                                     }

                                     /* adjust increase/decrease button */
                                     input[type="date"]::-webkit-inner-spin-button {
                                         z-index: 1;

                                     }

                                     /* adjust clear button */
                                     input[type="date"]::-webkit-clear-button {
                                         z-index: 1;
                                     }

                                     //iphonelarda 2 aralik 2022 ni ortaliyan budur
                                     input::-webkit-date-and-time-value {
                                         text-align: left;
                                         text-align: -webkit-left;
                                         display: flex;
                                         align-items: center;
                                         height: 100%;
                                     }

                                     input[type="date"]::-webkit-datetime-edit,
                                     input[type="date"]::-webkit-inner-spin-button,
                                     input[type="date"]::-webkit-clear-button {
                                         color: rgb(253, 253, 253);
                                         position: relative;
                                         left: 0px;
                                         text-align: left;
                                     }

                                     input[type="date"]::-webkit-datetime-edit-year-field {
                                         position: absolute !important;
                                         // border-left: 1px solid #8c8c8c2f;
                                         padding: 0px 7px;
                                         color: #03091f;
                                         left: 54px;



                                     }

                                     input[type="date"]::-webkit-datetime-edit-month-field {
                                         position: absolute !important;
                                         // border-left: 1px solid #8c8c8c2f;
                                         padding: 0px 7px;
                                         color: #03091f;
                                         left: 22px;
                                     }


                                     input[type="date"]::-webkit-datetime-edit-day-field {
                                         position: absolute !important;
                                         color: #03091f;
                                         padding: 0px 0px;
                                         left: 0px;

                                     }

                                     input::-webkit-datetime-edit-day-field:focus,
                                     input::-webkit-datetime-edit-month-field:focus,
                                     input::-webkit-datetime-edit-year-field:focus {
                                         background-color: rgb(12, 155, 243);
                                         color: white;
                                         outline: none;
                                     }

                                     // in case if it is arabic language

                                     input[type="date"].rtl {
                                         &:before {
                                             left: 91px;

                                             @media(max-width:1250px) {
                                                 left: 73px;
                                             }
                                         }

                                         &:after {
                                             left: 59px;

                                             @media(max-width:1250px) {
                                                 left: 47px;
                                             }
                                         }
                                     }

                                     input[type="date"].rtl::-webkit-datetime-edit-year-field {
                                         left: 8px;

                                         // @media(max-width:1250px) {
                                         //     left: 0px;
                                         // }
                                     }

                                     input[type="date"].rtl::-webkit-datetime-edit-month-field {
                                         left: 58px;

                                         // @media(max-width:1250px) {
                                         //     left: 45px;
                                         // }
                                     }


                                     input[type="date"].rtl::-webkit-datetime-edit-day-field {
                                         left: 96px;

                                         // @media(max-width:1250px) {
                                         //     left: 80px;
                                         // }


                                     }
                                 }


                                 .date_picker_icon {

                                     top: 74px !important;
                                     transform: translateY(-100%);
                                     right: 13px;
                                     font-size: 14px;
                                     user-select: none;
                                     color: lighten(#03091f, 15%);
                                     position: absolute;

                                     z-index: 0;

                                     @media(max-width:990px) {
                                         right: 5px;

                                     }
                                 }

                                 .date_picker_icon_left {

                                     top: 74px !important;



                                 }
                             }

                             .select_time_div {
                                 display: flex;
                                 position: relative;
                                 gap: 1.5rem;
                                 padding-top: 20px;
                                 padding-bottom: 10px;

                                 .booking_form_hour_minute_wrapper {
                                     flex: 1;
                                     display: flex;
                                     flex-direction: column;
                                     position: relative;

                                     i {
                                         position: absolute;
                                         right: 12px;
                                         top: 44px;
                                         // color: #bbb;
                                         z-index: 0;
                                         pointer-events: none;
                                         color: darken($dark-1, 5%);
                                         font-size: 14px;
                                         display: none;
                                     }

                                     label {
                                         color: $gray-3;
                                         font-weight: 500;
                                         line-height: 1.6;
                                         font-family: $font-jost;
                                         margin-bottom: 5px;
                                         font-size: 15px;
                                     }

                                     select {
                                         width: calc(100%);
                                         padding: 6px 0px;
                                         background: transparent;
                                         border: none;
                                         font-size: 16px;
                                         color: darken($dark-1, 5%);
                                         margin: 0;
                                         font-weight: 500;
                                         font-family: $font-jost;
                                         border-bottom: 1px solid #efefef;
                                         // -webkit-appearance: none;
                                         font-size: 14px;
                                         background-color: rgb(255, 255, 255);

                                         &:focus {
                                             outline: none !important;
                                         }
                                     }
                                 }

                             }

                             .button {
                                 display: flex;
                                 align-items: center;
                                 justify-content: center;
                                 border-radius: 4px !important;
                                 width: 100%;
                                 font-size: 18px;
                                 min-height: 50px;
                                 text-transform: capitalize;
                                 background-color: #18449e;

                                 &:hover {
                                     background-color: darken(#18449e, 5%);
                                 }

                                 i {
                                     margin-right: 10px;
                                 }
                             }
                         }

                         .map_direction {
                             min-height: 230px;
                             margin-top: 10px;
                         }
                     }



                 }

                 .items_buttons {
                     position: relative;
                     right: 0px;
                     display: flex;
                     width: 100%;
                     justify-content: flex-end;
                     margin-top: 2rem;

                     :nth-child(2) {
                         margin-left: 2rem;
                     }



                     @media (max-width: 650px) {
                         justify-content: space-between;
                         margin-top: 1rem;

                         :nth-child(1) {}
                     }

                     button {
                         letter-spacing: 0.4px;
                         font-size: 15px;
                         padding: 0px 16px;
                         line-height: 37px;
                         transition: all 0.3s;
                         cursor: pointer;
                         border: none;
                         border-radius: 4px;
                         font-weight: 500;
                         position: relative;
                         display: inline-block;
                         border: 1px solid $primary;
                         width: 100%;
                         color: $primary !important;
                         background-color: white !important;
                         transition: .5s ease;
                         text-transform: capitalize;
                         box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

                         @media (max-width: 450px) {
                             font-size: 13px;
                             padding: 0px 15px;
                             line-height: 29px;

                         }


                         &:hover {
                             box-shadow: none !important;
                             transition: .5s ease;
                         }

                     }
                 }

             }
         }
     }
 }

 .google-maps-markerwithlabel {
     position: relative;
     transform: translate(0, -50%);
 }

 .google-maps-markerwithlabel:hover {
     z-index: 12000;
 }

 .google-maps-markerwithlabel>img {
     width: 64px;
     height: 64px;
 }

 .google-maps-markerwithlabel>p {
     position: absolute;
     top: 32px;
     left: 60px;
     display: block;
     white-space: nowrap;
     background-color: #fff;
     padding: 4px 8px;
     font-size: 14px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     border-radius: 4px;
     transform: translate(0, -80%);
 }

 .google-maps-markerwithlabel>p[d='right'] {
     left: unset;
     right: 60px;
 }

 .google-maps-markerwithlabel>span {
     position: absolute;
     top: 8px;
     left: 32px;
     transform: translate(-50%);
     color: #000;
     font-weight: 900;
     font-size: 26px;
 }