    @import '../../../styles/variables';

    .header_content_menu_mobile {
        display: none;

        @media(max-width:1200px) {
            display: block;
            position: absolute;
            top: 80px;
            left: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            height: 100vh;
        }

        @media(max-width:450px) {

            top: 60px;
        }

        .menu_content_ul {
            padding: 0px 20px;
            background-color: $--color-black-1;
        }

        ul {
            padding: 0px 35px;

            li {
                &:not(:last-child) {
                    border-bottom: 1px solid $--color-light-3;
                }
            }

            li {


                &:hover {
                    a {
                        transition: 0.2s linear;
                        color:$--color-light-2;;
                    }
                }

                a {
                    display: flex;
                    justify-content: space-between;
                    padding: 8px 8px;
                    color: $--color-wheat;



                    span {
                        font-size: 18px;
                        text-transform: capitalize;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .header_content_menu_mobile.active_header_content_menu_mobile {
        opacity: 1;
        visibility: visible;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }