
$dark-1: #051036;
$dark-2: #0D2857;
$dark-4: #163C8C;

$primary_black:#1d1d1d;
$black:#282828;

$red:#e20000;
$green:#00a75e;



$--color-blue-1: #0d6efd; //
$--color-blue-2: #0a58ca; //
$--color-dark-1: #05073C; //
$--color-dark-2: #020322; //



$--color-yellow-1: #FFA800;
$--color-yellow-2: #E2AD64;
$--color-yellow-3: #F9AB00;


$--color-accent-1: #EB662B; //
$--color-accent-1-dark: #CE5A25; //
$--color-accent-1-light: #fdf3ef;
$--color-accent-2: #CD4B13;

$--color-light-1: #F5F5F5; //
$--color-light-2: #717171; //
$--color-light-3: #FBFBFB; //
$--color-light-4: #DDD3EC; //
$--color-light-5: #F2F1EC; //
$--color-light-6: #E7E6E6;
$--color-light-7: #C6C6D2;
$--color-light-8: #595959;



$--color-green-1: #EFF7F1;
$--color-green-2: #63B06F;
$--color-green-3: #34A853;
$--color-green-3-dark: #1e7034;
$input_text_color: #62666cd7;
$label_text_color: rgba(105, 116, 136, 0.579);
$box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-2: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
$box-shadow-3:  rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$disabled: hsla(215, 9%, 55%, 0.15);


$tr-cubic: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);