//*Transitions
$tr-ease: 0.3s ease-in-out;
$tr-linear: 0.3s linear;




$primary: #EB662B;
$primary2: #287dfa;
$darkPrimary: #CE5A25;

$darkPrimary2: #000033;

$--color-dark-1: #05073C; //
$--color-dark-2: #020322; //

$--color-light-1: #F5F5F5; //
$--color-light-2: #717171; //
$--color-light-3: #FBFBFB; //
$--color-light-4: #DDD3EC; //
$--color-light-5: #F2F1EC; //
$--color-light-6: #E7E6E6;
$--color-light-7: #C6C6D2;
$--color-light-8: #595959;

$--color-accent-1: #EB662B; //
$--color-accent-1-dark: #CE5A25; //
$--color-accent-1-light: #fdf3ef;
$--color-accent-2: #CD4B13;


$--color-blue-1: #0d6efd; //
$--color-blue-2: #0a58ca; //
$--color-dark-1: #05073C; //
$--color-dark-2: #020322; //
$blue-1: #3554D1;
$dark-1: #051036;
$dark-2: #0D2857;
$dark-4: #163C8C;

$yellow1: #F8D448;
$orange: #ff9f1c;
// gray**
$gray: #717172;
$gray-1: #eee;
$gray-2: #ccc;
$gray-3: #5D646D;
$gray-4: #8a8a8c;


// border***
$border-light: #efefef;
$border_gray: rgba(128, 137, 150, 0.2);
$border: #DDDDDD;
$border_primary: #c6cff2;
// gradients
$blue-gradient: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 10%, rgba(0, 212, 255, 1) 100%);

$input_text_color: #62666cd7;
$label_text_color: rgba(105, 116, 136, 0.579);

// backgrounds
$light_1: rgb(245, 247, 252);
$light_2: #F5F5F5;
$light_3: #efefef;
$light_4: #697488;



$green-1: #63ce26;
$--color-green-1: #EFF7F1;
$--color-green-2: #63B06F;
$--color-green-3: #34A853;
$--color-green-3-dark: #1e7034;
$input_text_color: #62666cd7;
$label_text_color: rgba(105, 116, 136, 0.579);
$box-shadow-1: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-2: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
$box-shadow-3: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$disabled: hsla(215, 9%, 55%, 0.15);

$bg-1: #d3dae7;
$bg-2: rgba(53, 84, 209, 0.1);
$bg-hover-1: rgba(53, 84, 209, 0.05);
$bg-hover-2: rgba(53, 84, 209, 0.15);
$disabled: hsla(215, 9%, 55%, 0.15);