$primary_black: #1f2020;
$primary_black_2: #111214; //




// $--color-dark-1: #05073C; //
$--color-black-1: #282828; //
$--color-black-2: #051036; //
$--color-lightblack-1:rgba(0, 0, 0, 0.4);
$--color-red-1: #e20000; //
$--color-red-2: #e3231b;
$--color-green-1: #00a75e; //
$--color-wheat:wheat;
$--color-light-1: rgba(255,255,255,0.7); //
$--color-light-2: rgba(225, 224, 224, 0.7); //

$--color-light-3: rgb(255 255 255 / 15%);