@import '../../styles//_variables';

.about_page {
    background-color: white;
    color: $--color-black-2;
    font-family: 'Segoe UI', sans-serif;

    .about_page_section {
        position: relative;

        .about_page_section_container {
            position: relative;

            .title {
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1.5rem;
                color: $--color-red-2;
                @media (max-width:1400px) {
                    font-size: 1.8rem;

                }
            }

            .paragraph {
                font-size: 1.1rem;
                line-height: 1.4;
                margin-bottom: 1.2rem;
            }

            .subtitle {
                font-size: 1.5rem;
                font-weight: 600;
                margin: 2rem 0 1rem;
            }

            .list {
                list-style-type: disc;
                padding-left: 1.5rem;
                line-height: 1.4;
            }

            .list li {
                margin-bottom: 0.6rem;
            }
        }
    }
}