@import '../../../styles/_variables';

.dangerous_div {
    width: 100%;

    h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: $--color-red-2;

        @media (max-width:1400px) {
            font-size: 1.8rem;
        }
    }

    p {
        font-size: 1.1rem;
        line-height: 1.4;
        margin-bottom: 1.2rem;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 2rem 0 1rem;
    }

    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        line-height: 1.4;
    }

    ul li {
        margin-bottom: 0.6rem;
    }
}