@import '../../styles/variables';
@import '../../styles/_fonts';


.tr_details {
    position: relative;
    margin-left: 60px;

    @media (max-width: 990px) {
        padding-top: 30px;
        margin-left: 0px;
    }

    @media (max-width: 550px) {
        padding-top: 0px;
    }

    .tr_details_section {
        padding-top: 0px;
        padding-bottom: 50px;
        position: relative;

        @media (max-width:1500px) {
            margin: 0px 40px !important;
        }

        @media (max-width:1300px) {
            margin: 0px 60px !important;
        }

        @media (max-width:990px) {
            margin: 0px 20px !important;
        }

        @media (max-width:450px) {
            margin: 0px 10px !important;
        }

        .tr_details_section_container {
            @media only screen and (max-width:1200px) {
                max-width: 1150px !important;
            }

            .transferdetails_subcontainer {
                .transferdetails_subcontainer_content.rtl {
                    flex-direction: row-reverse;
                }

                .transferdetails_subcontainer_content {
                    max-width: 1450px;
                    width: 100%;
                    display: flex;
                    background-color: transparent;
                    position: relative;
                    gap: 2rem;
                    margin: 0 auto;
                    justify-content: space-between;
                    z-index: 1;

                    @media (max-width:1300px) {
                        display: flex;
                        flex-direction: column-reverse;

                    }

                    .transferdetails_subcontainer_content_points_and_passengerdetails {
                        flex-basis: 80%;
                        margin-top: 25px;
                        position: relative;
                        min-height: 500px;
                        display: flex;
                        flex-direction: column;
                        padding: 20px;
                    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

                        @media (max-width:1200px) {
                            flex-basis: 100% !important;
                        }

                        @media (max-width:450px) {
                            padding: 20px 10px;
                        }

                        .points[direction="true"] {
                            p {
                                padding-bottom: 5px !important;
                            }


                        }

                        .points {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            margin-top: 25px;
                            padding: 30px 0px;
                            border-radius: 4px;

                            @media (max-width:990px) {
                                flex-direction: column;
                                flex-basis: 100%;
                                margin-top: 0px;
                            }

                            h2 {
                                color: black;
                                font-weight: 500;
                                margin-bottom: 5px;
                                font-size: 22px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                text-transform: capitalize;

                                i {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: $--color-accent-1;
                                    font-size: 16px;
                                    cursor: pointer;
                                }
                            }


                        }

                        .points.rtl {
                            flex-direction: row-reverse;
                        }
                    }
                }

                .modal {
                    position: fixed;
                    inset: 0; // shorthand for top/right/bottom/left: 0;
                    background-color: rgba(0, 0, 0, 0.6); // dark overlay
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 9999;

                    &.hidden {
                        display: none;
                    }
                }

                .modal_container {
                    background-color: #fff;
                    padding: 2rem;
                    width: 90%;
                    max-width: 500px;
                    border-radius: 1rem;
                    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
                    position: relative;
                    animation: fadeInScale 0.3s ease-in-out;

                    div {
                        font-size: 1rem;
                        color: #333;
                        margin-bottom: .5rem;
                        text-align: center;
                    }
                }



                .close_icon {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    cursor: pointer;
                    color: #555;
                    font-size: 1.2rem;
                    transition: color 0.2s ease;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

    }
}