@import '../../../styles/variables';

.taxideal_selected {

    .inside_inputs_istaxideal {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form_input {
            background-color: red;

         
        }
    }
}

.selected_list {
    margin: 8px 0px;
    position: relative;
    padding: 10px 16px;
    transition: .5s ease-in-out;
    background-color: $--color-accent-1-light;
    animation: animate;
    opacity: 1;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 5px;

    margin-top: 1rem !important;

    &:hover {
        background-color: darken($--color-accent-1-light, 3%);
    }

    .list_container {
        display: flex;
        flex-direction: column;

        .list {
            display: flex;
            align-items: center;
            padding: 10px;
            box-shadow: $box-shadow-1;
            background: white;
            margin-bottom: 10px;

            // justify-content: space-between;
            .list_number {
                font-size: 13px;
                color: black;
                font-weight: bold;

                @media (max-width: 520px) {
                    font-size: 12px;
                }

            }

            .list_image {
                width: 13px;
                margin-right: 12px;
                margin-left: 4px;

                @media (max-width: 520px) {
                    width: 12px;
                }
            }

            .list_description {
                color: $--color-dark-1;
                font-size: 14px;
                font-weight: 500;
                flex: 1;

                @media (max-width: 520px) {
                    font-size: 13px;
                }

            }

        }

        .inside_inputs_istaxideal {
            position: relative;

            select {
                display: none;
            }
        }

        .insideInputs {
            margin-top: 10px;

            .insideInputs_input {
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
            }


        }
    }

}



@keyframes animate {
    0% {
        opacity: 0;
        top: 30px;


    }

    10% {
        opacity: 0;
        top: 30px;

    }

    100% {
        top: 0px;
        opacity: 1;
    }
}