//!bunnan sonraki projelerde bu sekilde kullanicaz
.page {
    margin-top: 86px; //bunu position fixed navbara gore yazmisig
    padding-top: 55px;
    padding-bottom: 35px;

    @media (max-width:1150px) {
        margin-top: 65px;
    }
    @media (max-width:768px) {
        margin-top: 60px;
    }

    .page_section {
        margin: 0 var(--window-margin);

        .page_section_container {
            width: 100%;
            max-width: 1290px;
            margin: 0 auto;
            padding: 0 15px;

            @media (max-width:1400px) {
                max-width: 1110px;
            }

            @media (max-width:1200px) {
                max-width: 940px;
            }

            @media (max-width:990px) {
                max-width: 720px;
            }
        }

    }
}