@import '../../../styles/variables';


.header {
    position: fixed;
    z-index: 10000000;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: $primary_black;
    box-shadow: $box-shadow-2;

    .header_container {
        display: flex;
        align-items: center;
        justify-content: center;

        .header_flex_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1320px;
            width: 100%;
            padding: 0px 20px;

            @media(max-width:1150px) {
                padding: 10px 20px;

            }

  

            .left_items {
                width: 100%;

                .left_items_flex_div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .logo_tag {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;



                        span {
                            font-size: 45px;
                            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                            color: wheat;
                            letter-spacing: 2px;
                        }
                    }

                }
            }

            .right_items {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                @media(max-width:990px) {
                    gap: 1.2rem;
                }

                @media(max-width:450px) {
                    gap: 1rem;
                }


                .language_dropdown {
                    cursor: pointer;
                    position: relative;
                    user-select: none;

                    .img_div {
                        background-color: $--color-black-1;
                        padding: 0px 5px;
                    }
                }


                // hamburger menu
                .menu {
                    cursor: pointer;
                    display: none;
                    font-size: 20px;
                    width: 20px;
                    align-items: center;
                    justify-content: flex-end;
                    color: $--color-light-1;

                    @media (max-width: 1150px) {
                        display: flex;
                    }
                }


            }
        }
    }
}