@import '../../../styles/variables';


.header {
    position: fixed;
    z-index: 10000000;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: $primary_black_2;

    .header_container {
        display: flex;
        align-items: center;
        justify-content: center;

        .header_flex_div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1320px;
            width: 100%;
            padding: 0px 20px;

            @media(max-width:1150px) {
                padding: 10px 20px;

            }



            .left_items {
                width: 100%;

                .left_items_flex_div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .logo_tag {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        img {
                            width: 65px;
                            height: 65px;
                            margin-bottom: -10px;

                            @media(max-width:450px) {
                                width: 40px;
                                height: 40px;
                            }
                        }

                        .wave_text {
                            display: inline-block;
                            margin-left: 10px;
                            margin-bottom: -10px;

                            .wave_letter {
                                display: inline-block;
                                font-size: 35px;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                color: $--color-wheat;
                                letter-spacing: 2px;
                                margin-left: 2px;
                                @media(max-width:450px) {
                                 font-size: 22px;
                                }
                                animation: wave 1.5s infinite ease-in-out;
                            }
                        }
                    }

                }
            }

            .right_items {
                display: flex;
                align-items: center;
                gap: 1.5rem;

                @media(max-width:990px) {
                    gap: 1.2rem;
                }

                @media(max-width:450px) {
                    gap: 1rem;
                }


                .language_dropdown {
                    cursor: pointer;
                    position: relative;
                    user-select: none;

                    .img_div {
                        background-color: $--color-black-1;
                        padding: 0px 5px;
                    }
                }


                // hamburger menu
                .menu {
                    cursor: pointer;
                    display: none;
                    font-size: 20px;
                    width: 20px;
                    align-items: center;
                    justify-content: flex-end;
                    color: $--color-light-1;

                    @media (max-width: 1150px) {
                        display: flex;
                    }
                }

                .budget {
                    position: relative;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $--color-black-1;
                    height: 40px;
                    border-radius: 20px;

                    span {
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        right: -3px;
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        font-size: 11px;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        background-color: red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                    }

                    i {
                        color: $--color-light-1;
                    }
                }
            }
        }
    }
}

@keyframes wave {

    0%,
    10%,
    90%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }
}