    @import '../../../styles/variables';

    .all_languages {
        position: absolute;
        background-color: $primary_black;
        ;
        top: 50px;
        left: 0px;
        width: 285px;
        border-radius: 5px;
        padding: 13px;
        height: auto;
        align-items: center;
        transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
        display: grid;
        grid-template-columns: 131px 127px;
        visibility: hidden;
        opacity: 0;
        left: -250px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        user-select: none;



        &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: 20px;
            width: 10px;
            height: 10px;
            background-color: $--color-black-1 !important;
            transform: rotate(45deg);
            left: 258px;
        }

        .content {
            padding: 5px 10px;
            display: flex;
            align-items: center;

            .img_div {
                width: 20px;
                position: relative;
                height: 11px;
            }

            span {
                margin-left: 10px;
                color: $--color-light-1 !important;

                i {
                    font-size: 11px;
                    margin-left: 10px;
                }
            }


            &:hover {
                background-color: $--color-black-1;
                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }


    }