   @import '../../../styles/variables';

   // duration  || distance olan kisim
   .quotation_header {
       padding: 20px;
       margin-bottom: 16px;
       background-color: rgba(235, 102, 43, 0.05);

       @media (max-width: 820px) {
           margin-top: 10px;
       }

       @media (max-width: 768px) {
           padding: 10px;
           margin-top: 10px;
       }

       ul> {

       

           @media (max-width: 768px) {

          
               li:nth-child(1),
               li:nth-child(2) {
                   display: block;
               }
           }

           li {
               color: rgb(0, 0, 0);
               font-size: 15px;
               letter-spacing: 0.3px;

               .left {
                   text-transform: capitalize;
               }

               .li_icon {
                   margin-right: 5px;
                   color: green;
                   font-weight: bold;
               }

               .strong {
                   color: black;
                   font-weight: bold;

                   @media (max-width: 768px) {
                       font-size: 12px;
                   }

                   @media (max-width:558px) {
                       font-size: 10px;
                   }
               }
           }
       }
   }


   .title {
       font-weight: 500;
       font-size: 24px !important;
       text-transform: capitalize;
       margin-top: 1rem;
       display: flex;
       justify-content: space-between;

       span {
           &:nth-child(1) {
               cursor: pointer;
               color: $--color-accent-1;

               @media (max-width: 1280px) {
                   display: none;
               }
           }
       }
   }


   .result_container {
       flex-basis: 65%;
       position: relative;
       margin-top: 16px;

       @media (max-width: 990px) {
           flex-basis: 100%;

       }

       .card_item {
           margin-bottom: 22px;
           display: flex;
           border-radius: 4px;
           transition: .1s linear;
           border: 1px solid transparent;
           background: #fff;
           box-shadow: $box-shadow-1;

           @media (max-width: 768px) {
               flex-direction: column;
               border-left: 1px solid transparent;
               border-right: 1px solid transparent;

           }

           .column_first[data="2"] {
               background-size: 70%;

               @media (max-width: 768px) {
                   background-size: 35%;

               }

               @media (max-width: 500px) {
                   background-size: 70%;

               }
           }

           .column_first[data="3"] {
               background-size: 70%;

               @media (max-width: 768px) {
                   background-size: 35%;

               }

               @media (max-width: 500px) {
                   background-size: 70%;

               }
           }

           .column_first {
               flex: 0.32;
               display: flex;
               align-items: center;
               border-radius: 10px;
               transition: .5s ease;
               justify-content: center;
               background-repeat: no-repeat;
               background-position: center center;
               background-size: 120%;
               background-color: $--color-light-6;
               margin: 15px;

               @media (max-width: 1400px) {
                   flex: 0.28;
               }

               @media (max-width: 990px) {
                   flex: 0.32;
               }

               @media (max-width: 768px) {
                   min-height: 150px;
                   margin-bottom: 1rem;
                   background-size: 60%;
                   flex: 0.32;
               }

               @media (max-width: 700px) {
                   flex: 0.24;
               }

               @media (max-width: 500px) {
                   background-size: 85%;
                   min-height: 120px;
               }

               @media (max-width: 420px) {
                   background-size: 100%;
               }

           }

           .column_second {
               flex: 0.48;
               height: 100%;
               padding: 15px 15px;
               padding-left: 1.5rem;

               @media (max-width: 1400px) {
                   flex: 0.53;
               }

               @media (max-width: 1300px) {
                   flex: 0.68;
               }

               @media (max-width: 1100px) {
                   padding-left: 15px;
                   padding-right: 0px;
               }

               @media (max-width: 990px) {
                   padding-left: 15px;
               }

               @media (max-width: 768px) {
                   padding: 0px;
                   padding-left: 15px;
               }

               @media (max-width: 450px) {
                   padding-right: 1rem;
               }

               .column_second_flex_column {
                   display: flex;
                   flex-direction: column;

                   .name_and_postcode_div {
                       display: flex;
                       flex-direction: column-reverse;
                       gap: .50rem;

                       @media (max-width: 768px) {
                           flex-direction: column;
                       }

                       .postcode {
                           color: $--color-light-2;
                           font-size: 13px;
                           display: flex;
                           justify-content: space-between;

                           .feature_column {
                               display: none;

                               @media (max-width: 450px) {
                                   display: flex;
                                   gap: 0.5rem;
                                   align-items: center;

                                   i,
                                   span {
                                       font-size: 14px;
                                       color: black !important;

                                   }

                                   span {
                                       margin: 0px;
                                   }
                               }
                           }

                           .durationn {
                               color: black;
                               display: flex;
                               gap: .5rem;
                               align-items: center;
                               margin-left: 2px;
                               @media (max-width: 768px) {
                                   display: none;
                               }
                           }

                           .type {
                               display: none;

                               @media (max-width: 768px) {
                                   display: block;
                               }
                           }
                       }

                       .name {
                           margin-top: 5px !important;
                           font-weight: 500;
                           font-size: 16px;
                           margin-bottom: 0px !important;
                           display: flex;
                           gap: 0.5rem;
align-items: flex-end;
                           @media (max-width: 768px) {
                               justify-content: space-between;
                           }

                           .type {
                               text-transform: capitalize;
                               color: $--color-light-2;
                               margin-top: -.2rem;

                               @media (max-width: 768px) {
                                   display: none;
                               }
                           }

                           .feature_column {
                               display: none;

                               @media (max-width: 450px) {
                                   display: flex;
                                   gap: 0.5rem;
                                   align-items: center;

                                   i,
                                   span {
                                       font-size: 14px;
                                   }

                                   span {
                                       margin: 0px;
                                   }
                               }
                           }

                           span {
                               font-size: 14px;
                               margin-left: 4px;
                               text-transform: lowercase;
                           }
                       }
                   }

                   .car_features {
                       margin-top: 15px;
                       display: grid;
                       grid-template-columns: 95px 1fr 1fr;
                       grid-template-columns: 60px 64px 102px;

                       @media (max-width:1250px) {
                           grid-template-columns: 85px 1fr 130px;
                       }

                       @media (max-width:990px) {
                           grid-template-columns: 60px 60px 120px;
                       }





                       @media (max-width:450px) {
                           grid-template-columns: 1fr;
                           display: none;
                       }

                       .meet_greet_icon[direction="true"] {
                           flex-direction: row-reverse;
                           display: flex;
                           justify-content: flex-end;
                       }


                       .feature_column {
                           max-width: 100%;
                           width: 100%;
                           padding-bottom: 5px;
                           display: flex;
                           align-items: center;

                           @media (max-width:450px) {
                               display: none !important;
                           }

                           i {
                               color: rgb(5, 16, 54);
                               margin-right: 5px;
                               margin-left: 5px;
                               font-size: 14px;
                           }

                           span {
                               font-size: 13px;
                               color: rgb(5, 16, 54);
                               font-weight: 400;
                           }


                           &:nth-child(3) {
                               @media (max-width: 380px) {
                                   margin-left: 4px;

                                   img {
                                       margin-left: -2px;
                                   }
                               }
                           }

                       }
                   }

                   .apl_features {
                       margin-top: 10px;
                       display: flex;
                       flex-wrap: wrap;

                       @media (max-width: 450px) {
                           flex-direction: column;
                       }

                       .apl_feature {
                           max-width: 50%;
                           width: 100%;
                           padding-bottom: 5px;
                           display: flex;
                           align-items: center;
                           font-size: 12px;
                           font-weight: 500;
                           color: rgb(0, 128, 9);
                           color: $--color-dark-1;

                           text-transform: capitalize;

                           @media (max-width: 1100px) {
                               &:nth-of-type(odd) {
                                   max-width: 45%;
                               }
                           }

                           @media (max-width: 450px) {
                               max-width: 100%;

                               &:nth-of-type(odd) {
                                   max-width: 100%;
                               }
                           }


                           i {
                               color: black;
                               font-size: 10px;
                               margin-right: 5px;
                           }

                           .leftFeatureIcon {
                               margin-right: 0px;
                               margin-left: 5px;
                           }
                       }

                       .show_more_than360 {
                           @media (max-width: 450px) {
                               display: none;
                           }
                       }

                       .show_less_than360 {
                           display: none;

                           @media (max-width: 450px) {
                               display: block;

                           }
                       }

                       .show_less_than360_with_price {
                           display: none;

                           .price_span {}

                           @media (max-width: 450px) {

                               display: flex;
                               justify-content: space-between;

                               .price_span {
                                   font-size: 32px;
                                   position: relative;
                                   margin-right: 20px;

                                   span {
                                       font-size: 16px;
                                       position: absolute;
                                       top: -8px;
                                   }
                               }
                           }
                       }
                   }
               }

           }

           .column_third {
               flex: 0.20;
               padding-right: 15px;
               justify-content: space-between;
               display: flex;
               flex-direction: column;
               padding-top: 15px;
               padding-bottom: 15px;


               @media (max-width: 1200px) {
                   padding-right: 10px !important;
               }

               @media (max-width: 768px) {
                   padding-left: 10px;
                   padding-top: 0px;
               }

               .duration_price {
                   display: flex;
                   flex-direction: column;
                   flex: 1;
                   justify-content: space-between;

                   @media (max-width: 768px) {
                       justify-content: flex-start;
                       align-items: flex-end;
                       margin-right: 2rem;
                   }

                   .distance {
                    text-align: center;
                    text-transform: capitalize;
                       @media (max-width: 768px) {
                           display: none;
                       }
                   }

                   span {
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       font-size: 13px;
                       flex-direction: column;
                       padding-top: 10px;
                       gap: 8px;

                   }

                   .price {
                       text-align: end;
                       font-weight: 600;
                       font-size: 24px;
                       font-weight: 500;
                       position: relative;
                       margin-bottom: 10px;

margin-top: 5px;
                       span {
                           font-size: 16px;
                           position: absolute;
                           top: -26px;
                           right: 0px;
                           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                       }

                       @media (max-width: 1100px) {
                           font-size: 20px;
                       }

                       @media (max-width: 990px) {
                           font-size: 24px;
                       }

                       @media (max-width:768px) {
                           font-size: 23px;
                       }

                       @media (max-width: 650px) {
                           margin-top: 1rem;
                       }

                       @media (max-width: 450px) {
                           display: none;
                       }


                   }
               }






               .btn_div {
                   @media (max-width: 450px) {
                       margin-top: 1rem;
                   }
               }

               .selectedBtnDiv {
                   button {
                       background-color: $--color-accent-1, ;
                       color: white;

                       &:hover {
                           background-color: $--color-accent-1-dark !important;
                       }
                   }
               }
           }

           //    .thirdcolumnDirection {
           //        padding-right: 0px !important;
           //        padding-left: 10px !important;

           //        .price {
           //            margin-right: 0px;
           //            margin-left: 20px;
           //        }

           //    }
       }

       //itembtns

       .card_item:hover {
           border-color: lighten($--color-accent-1, 35%);
           box-shadow: none;
       }



       .selectedCard {
           position: relative;
           background: #fafdfd;
           border-color: lighten($--color-accent-1, 25%);
           transition: .25s linear;
           box-shadow: none;
           box-shadow: $box-shadow-1;

           &:hover {
               box-shadow: none;
           }

           .column_first {
               background-color: transparent;
               background-color: #f2f5f7;
           }
       }

       .selected {
           border-left: 1px solid #DDDDDD;
           border-right: 1px solid #DDDDDD;
       }

       .items_buttons {
           position: absolute;
           right: 0px;
           display: flex;
           width: 100%;
           justify-content: space-between;
           padding: 0px 14px;

           :nth-child(2) {
               margin-left: 2rem;
           }

           margin-top: 20px;

           @media (max-width: 820px) {
               padding: 0px;
           }

       }

   }